@use './variables.scss' as *;

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Nunito/Nunito-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Apply Vollkorn font-family to the desired elements */
body {
  font-family: 'Nunito', serif;
  background-image: url('/bg.png'); /* Set the background image path */
  background-size: cover; /* Adjust background image size */
  background-repeat: no-repeat; /* Prevent repeating the background */
  background-position: center center;
  background-color: black;
  background-attachment: fixed;
  /* Add any other styles for the body element here */
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure the body and html take full width */
  overflow-x: hidden; /* Prevent horizontal overflow */
}